@{
    ViewData["Title"] = "Add Property";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PerpetuumSoft.Knockout
           
@{
  var ko = Html.CreateKnockoutContext();
}
<!-- Page starts here -->

<h2>Add property</h2>

<form id="AddForm" action="Add" method="post">
    <label for="Name">Name:</label><input id="Name" name="Name" type="text" /> <br />
    <label for="Type">Type:</label>
    <select id="Type" name="Type">
        <option value="@((int)PropertyEditor.Models.property_type.integer_type)">integer</option>
        <option value="@((int)PropertyEditor.Models.property_type.string_type)">string</option>
    </select> <br />

    <label for="Value">Value:</label><input id="Value" name="Value" type="text" /> <br />

    <button id="AddFormSumbitButton" type="submit">Add</button>
</form>


<script type="text/javascript">
    $(document).ready(function() {
        
        $("#AddForm").validate({
            focusInvalid: false,
            focusCleanup: true,
            rules: {
                Name: {
                    required: true,
                    minlength: 2,
                    maxlength: 12
                },
                Value: {
                    required: true,
                    minlength: 2,
                    maxlength: 12
                }
            },
            messages: {
                Name: {
                    required: "Укажите название параметра!",
                    minlength: "Не менее 2 символов",
                    maxlength: "Не более 12 символов"
                },
                Value: {
                    required: "Укажите значение параметра!",
                    minlength: "Не менее 2 символов",
                    maxlength: "Не более 12 символов"
                }
            }
        });
});
</script>
