@{
    ViewBag.Title = "Add Property";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PerpetuumSoft.Knockout
           
@{
  var ko = Html.CreateKnockoutContext();
}
<!-- Page starts here -->

<h2>Add property</h2>

<form id="AddForm" action="Add" method="post">
    <label>Name:</label><input name="Name" type="text" /> <br />
    <label>Type:</label>
    <select name="Type">
        <option value="integer">integer</option>
        <option value="string">string</option>
    </select> <br />

    <label>Value:</label><input name="Value" type="text" /> <br />

    <button id="AddFormSumbitButton" type="submit">Add</button>
</form>