@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PerpetuumSoft.Knockout
@model List<PropertyEditor.Models.Property>
           
@{
  var ko = Html.CreateKnockoutContext();
}
<!-- Page starts here -->

<table>
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@ko.Html.Span(item.Name)</td>
                <td>@ko.Html.Span(item.Type == PropertyEditor.Models.property_type.string_type ? "\"" + item.Value + "\"" : item.Value)</td>
            </tr>
        }
    </tbody>
</table> <br />

<button value="Add">@Html.ActionLink("Add", "AddPanel", "PropertyEditor")</button>

@ko.Apply(Model)